<div>
  <div class="search-container">
    <form novalidate [formGroup]="form">
      <mat-form-field class="input-container">
        <input matInput formControlName="search" placeholder="Search Angular Videos...">
      </mat-form-field>
    </form>
  </div>
  <div class="list-container" *ngIf="videos">
    <app-video-thumb *ngFor="let video of videos"
                     [title]="video.snippet.title"
                     [publishedAt]="video.snippet.publishedAt"
                     [description]="video.snippet.description"
                     [thumbnail]="video.snippet.thumbnails.high"
                     (onSelect)="handleThumbSelection(video)">
    </app-video-thumb>
  </div>
  <mat-paginator [length]="pageInfo.totalResults"
                 [pageSize]="pageInfo.maxResults"
                 (page)="handlePaginatorChange($event)"
                 [pageSizeOptions]="[10, 25, 50]">
  </mat-paginator>
</div>
